.header {
    display:flex;
    justify-content:space-around;
    background-color: rgba(114, 3, 3, 0.863);
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px;
    margin: 0;
} 

.logo {
    width: 200px;
    height: 130px;
}

.image2{
    width: 200px;
    height: 130px;
}

.container {
    display:flex;
    justify-content: center;
    background-color: tan;
    margin-bottom: 15px;
    padding: 10px;
    flex-wrap: wrap;
}

.wrapper {
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    
}

.skill {
    font-family: 'Simonetta', cursive;
}

.font2 {
    font-family: 'Spartan';
}

.projects {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;

}

.desc {

}

.bubble {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}

.bubble2 {
    background-color: white;
    margin-top: 10px;
    max-height: 50px;
    text-align: center;
}

@media screen and (max-width: 1000px){
    .bubble{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }


}