.header {
    display:flex;
    justify-content:space-around;
    background-color: rgba(56, 68, 161, 0.5);
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px;
    margin: 0;
} 

.logo {
    width: 200px;
    height: 130px;
}

.image2{
    width: 200px;
    height: 130px;
}

.container {
    display:flex;
    background-color: tan;
    margin-bottom: 15px;
    padding: 10px;
    height: 1000;
    flex-wrap: wrap;
}

.wrapper {
    background-color: white;
    flex-wrap: wrap;
    
}

.skill {
    font-family: 'Simonetta', cursive;
}

.font2 {
    font-family: 'Spartan';
}

.projects {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 40%;
    flex-wrap: wrap;
    flex-grow: 1;

}

.desc {

}

.bubble {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction:

}

.bubble2 {
    background-color: white;
    height: 10%;
    width: 25%;
    text-align: center;
    align-self: center;
}